<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type"
            content="text/html; charset=UTF-8">
        <title><%=title %></title>
        <link type="text/css" href="./style.css" rel="stylesheet">
    </head>

    <body>
            <head>
                <h1><%=title %></h1>
            </head>
            <div role="main">
                 <p><%=content %></p>
            </div>
            <form method="post" action="/decryptresult">
                <p>
                    <p>msg0204</p>
                    <input type="text" name="msg">
                    <p>key</p>
                    <input type="text" name="key">
                    <p>iv</p>
                    <input type="text" name="iv">
                    <input type="submit" value="Click">


                </p>
            </form>
    </body>
</html>