<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type"
            content="text/html; charset=UTF-8">
        <title><%=titleHead %></title>
        <link type="text/css" href="./style.css" rel="stylesheet">
    </head>

    <body>
            <head>
                <h1><%=titleBody %></h1>
            </head>
            <div role="main">
                 <p><%=content %></p>
            </div>
    </body>
</html>